---
import HomeLayout from "@layouts/HomeLayout.astro";
import Starfield from "@components/Starfield.jsx";

const pageTitle = "TITLE";

---

<HomeLayout>

	<Starfield client:load />

	<html lang="en">

		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>{pageTitle}</title>
		</head>

        <main>





        </main>

    </html>
</HomeLayout>