---
import BaseLayout from "@layouts/BaseLayout.astro";
import Theme from "@layouts/HellTheme.astro";

const pageTitle = "Welcome to hell.";

---

<meta charset="UTF-8" />
<Theme>
	<BaseLayout>

 		<section class="min-h-screen bg-black/40 p-4 rounded-md items-center">
			<blockquote 
			class="inline text-6xl text-red-900 mb-10"> WELCOME TO HELL- wait
			</blockquote>
			<p class="block ml-10 mt-10"> unfortunately, mortal, the road ahead is closed at present.
				but rest assured, we're working on something real spicy down here.</p>
		</section>
		
	</BaseLayout>
</Theme>