---
import BaseLayout from "@layouts/BaseLayout.astro";
import Theme from "@layouts/HellTheme.astro";

const pageTitle = "Welcome to hell.";

---

<meta charset="UTF-8" />
<Theme>
	<BaseLayout>

 		<section class="min-h-screen bg-black/40 p-4 rounded-md items-center">
			<blockquote 
			class="inline text-6xl text-red-900"> WELCOME TO HELL

			</blockquote>
		</section>

		<section class="min-h-screen bg-black/40 p-4 rounded-md
			grid grid-flow-col grid-rows-3 gap-4">
			<div class="row-span-3 ..."><h1>heading 1
			<blockquote>i am a quote</blockquote>
			<code> i am code</code>	
			</h1></div>
			<div class="col-span-2 ..."><h2>heading 2</h2></div>
			<div class="col-span-2 row-span-2 ..."><h3> heading 3</h3></div>
		</section>
		
	</BaseLayout>
</Theme>