---

//import '../styles/main.css';
import HomeLayout from '../layouts/HomeLayout.astro';
import Starfield from '../components/Starfield.jsx';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, 
// the `assets`, `components`, and `layouts` directories, and start fresh.

const pageTitle = "Homebase";
const skillColor = "pink";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const fontWeight = "bold";
const textCase = "uppercase";


---


<HomeLayout>
	<!-- Welcome /> -->

	<Starfield client:load />

	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>{pageTitle}</title>
		</head>

		<body>
			<main class="px-4 py-8 max-w-screen-lg mx-auto">

			<h1>{pageTitle}</h1>

			<blockquote class="border-l-4 border-purple-500 bg-purple-500/10 p-4 rounded-md font-handjet font-size-2rem text-purple-200 my-6 text-lg">
				<p>I ♡ coding!</p>
				handle with care: universe under construction ♡
			</blockquote>



			<h2> header 2</h2>
			<h3> header 3</h3>

			<p>basic paragraph text</p>

			</main>
		</body>
	</html>

</HomeLayout>
