---
import ThemeLayout from "@layouts/CybersecTheme.astro";
import Layout from "@layouts/CyberBaseLayout.astro";
import Dashboard from "@components/cyber/dashboard.jsx";

---

<meta charset="UTF-8" />
<ThemeLayout>
	<Layout title="Cybersec portal">
<!-- 	<main class="px-4 py-8 max-w-screen-lg mx-auto"> -->
		<main class="infront grid gap-8 p-8">
		<code class="font-inconsolata border-l-4 border-cyan-700 bg-cyan-700/10 p-4 rounded-md font-handjet font-size-2rem text-purple-200 my-6 text-lg">
			hello and welcome to my cybersecurity learning portal!
		</blockquote>

		<Dashboard client:load/>



		</main>
	</Layout>
</ThemeLayout>
