---

//import HomeLayout from "../../layouts/HomeLayout.astro";
import HomeLayout from "@layouts/HomeLayout.astro";
import Starfield from "@components/Starfield.jsx";
import Carousel from "@components/Carousel.jsx";
import ElysiumButton from "@components/buttons/ElysiumBtn.jsx";
import HCoHButton from "@components/buttons/hcohBtn.jsx";

const pageTitle = "PROJECTS PORTAL";

---


<HomeLayout>
	<!-- Welcome /> -->

	<Starfield client:load />

	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>{pageTitle}</title>
		</head>

		<body>
<!-- 		<main class="px-4 py-8 max-w-screen-lg mx-auto"> -->
			<main class="grid gap-8 p-8">

			<h1>{pageTitle}</h1>

			<!-- intro quote for vibes -->
			<blockquote class="border-l-4 border-cyan-600 bg-blue-500/10 p-4 rounded-md font-size-2rem text-purple-200 my-2 text-lg">
				here you are, at the crossroads of fate.
			</blockquote>

				<!-- Featured Grid -->
				<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

				<ElysiumButton client:visible />
				<HCoHButton client:visible/>

				</section>

			</main>
		</body>
	</html>

</HomeLayout>
