---

// styles
import "@fontsource/tektur";
import "@fontsource/jura";
import "@fontsource/quantico";
import "@fontsource/sour-gummy";
import "@fontsource/inconsolata";
import '../styles/cybersec.css'; 

import CyberBoardBackground from "@components/particles/Cyber.jsx";

---

<CyberBoardBackground client:load />

<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <slot />
  </body>
</html>
