---

// styles
import "@fontsource/tektur";
import "@fontsource/jura";
import "@fontsource/quantico";
import "@fontsource/sour-gummy";
import "@fontsource/inconsolata";
import '../styles/elysium.css'; 

import CircuitBoardBackground from "@components/particles/Network.jsx";

---

<CircuitBoardBackground client:load />

<html>
  <head>
  </head>
  <body>
    <slot />
  </body>
</html>
