---

// styles
import "@fontsource/handjet";
import "@fontsource/coda";
import "@fontsource/do-hyeon";
import "@fontsource/cantarell";
import "@fontsource/hi-melody";
import "@fontsource/cutive-mono";
import "@fontsource/tektur";
import '../styles/hell.css'; 

import FireSparks from "@components/FireSparks.jsx";

---

<FireSparks client:load />

<html>
  <head>
  </head>
  <body>
    <slot />
  </body>
</html>
