---

// styles
import "@fontsource/cantata-one";
import "@fontsource/stoke";
import "@fontsource/amarante";
import "@fontsource/crimson-text";
import "@fontsource/shantell-sans";
import "@fontsource/cutive-mono";
import '../styles/hell.css'; 

import FireSparks from "@components/particles/FireSparks.jsx";

---

<FireSparks client:load />

<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <slot />
  </body>
</html>
