---
import '../styles/main.css'; 
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
//import MyParticles from '../components/Starfield.jsx';

const { title } = Astro.props;

---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{title}</title>
</head>
<body class="bg-black text-white relative">
  <slot />
</body>
</html>
